<footer class="site-footer">
  <div class="container">
    <div class="col-sm-4">
      <!-- <ul class="nav nav-links">
        <li>
          <a href="{{ '/docs' }}">Docs</a>
        </li>
        <li>
          <a href="{{ '/docs/quickstart' }}">Quick start</a>
        </li>
      </ul> -->
    </div>
    <div class="col-sm-8">
      <ul class="nav icon-links">
        {% if site.email %}
          <li>
            <a href="mailto:{{ site.email }}">
              {% include icon.html icon='envelope-o' %}
            </a>
          </li>
        {% endif %}
        {% if site.github.url %}
            <li>
              <a href="{{ site.github.url }}">
                {% include icon.html icon='github' %}
              </a>
            </li>
            {% endif %}

            {% if site.twitter.url %}
            <li>
              <a href="{{ site.twitter.url }}">
                {% include icon.html icon='twitter' %}
              </a>
            </li>
          {% endif %}
      </ul>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center repo-link">
        <a href="https://icons8.com">Icon pack by Icons8</a><br/>
        <a href="https://github.com/vladaspasic/node-registry/blob/master/LICENSE">
          node-registry is free and open-source under the Apache v2 License.
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/languages/yaml.min.js"></script>  
<script src="{{ "/assets/javascripts/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/js/main.js" | relative_url }}"></script>
