<header class="navbar navbar-default site-header" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if include.active == 'docs' %}active{% endif %}">
          <a class="page-link" href="{{ 'docs' | relative_url }}">Docs</a>
        </li>
        <li class="{% if page.title == 'Plugins' %}active{% endif %}">
          <a class="page-link" href="{{ 'plugins' | relative_url }}">Plugins</a>
        </li>
        <li>
          <a class="page-link" href="{{ 'api' | relative_url }}">API</a>
        </li>
        <li>
          <a class="page-link" href="{{ site.github.url }}" target="_blank">Github</a>
        </li>
      </ul>
    </nav>
</header>
