#api-options {
  position: relative;
  right: 0;
}

#api-tabview-filter, pre.prettyprint {
  border: 0 none;
}

.foundat-link {
  color: $code-color;
}

.class-tab-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
