.plugin-tabs {
  font-size: 1.8rem;
}

.plugin-tabs-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  .loading, .alert {
    margin: 3rem auto;
  }
}

.plugin-item {
  h4 small {
    font-size: 1.3rem;
    line-height: 1;
    color: #999;
  }

  .maintainers {
    margin: .5rem auto 2rem;

    h5 {
      display: inline;
      font-size: 1.5rem;
      margin-right: .5rem;
    }

    .label {
      background: $brand-primary;
      border: 0 none;
      font-size: 1rem;
      margin-right: .4rem;

      > a {
        color: #FFF;
      }
    }
  }

  .btns .btn {
    &:first-child {
      margin-right: .5rem;
    }
  }
}
