---
layout: apidoc
title:  "Node Registry API documentation - {{htmlTitle}}"
date:   2014-01-01 00:00:00
categories: apidocs
yuiGridsUrl: {{yuiGridsUrl}}
yuiSeedUrl: {{yuiSeedUrl}}
projectAssets: {{projectAssets}}
---

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            {{>sidebar}}
        </div>
        <div class="col-xs-9">
            <div class="apidocs">
                <div id="docs-main">
                    <div class="content">
                        {{>layout_content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

