<div>
    <div id="sidebar">
        {{!-- <div id="api-tabview-filter">
            <div class="form-group">
                <label class="sr-only" for="search">Filter APIs</label>
                <input type="search" class="form-control" id="search" placeholder="Type to filter APIs">
            </div>
        </div> --}}

        <h5>Classes</h5>

        <ul id="api-classes" class="nav nav-list">
            {{#publicClasses classes}}
                <li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
            {{/publicClasses}}
        </ul>
    </div>
</div>
