<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html active='docs' %}

    <main class="page-content documentation container" aria-label="Content">
      <div class="row">
        <div class="col-xs-hidden col-sm-4 col-md-2">
          <ul class="nav doc-nav" data-spy="affix">
            <li>
              <a href="{{ '/docs/getting-started' | relative_url}}">Getting started</a>
            </li>
            <li>
              <a href="{{ '/docs/configuration' | relative_url}}">Configuration</a>
            </li>
            <li>
              <a href="{{ '/docs/modules' | relative_url}}">Modules</a>
            </li>
            <li>
              <a href="{{ '/docs/initializers' | relative_url}}">Initializers</a>
            </li>
            <li>
              <a href="{{ '/docs/server' | relative_url}}">Server</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-10">
          {{ content }}
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
